*.DS_Store
*.log

.circleci
.yarn
coverage
node_modules
e2e
tests

.eslintrc.json
.gitignore
.npmignore
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
babel.config.js
Gemfile
Gemfile.lock
LICENSE
test.js
tests
